QTextEdit {
	background: transparent;
	border: 0; 
	font-size: 30px;
}

QLineEdit {
	background:transparent; 
	border-style: outset; 
	border-width: 2px; 
	border-color: green;
	border-radius: 10px;
}

QPushButton {
	border: 0;
	background: transparent;
}

QPushButton::hover {
	color: blue;
}
