/*
* @Author: Climax
* @Date:   2022-07-18 13:52:44
* @Last Modified by:   Climax
* @Last Modified time: 2022-07-18 19:41:07
*/


QTextEdit {
	background: transparent;
	border: 0; 
	font-size: 30px;
}


QLineEdit {
	background:transparent; 
	border-style: outset; 
	border-width: 2px; 
	border-color: green
}

QPushButton {
	border: 0;
	background: transparent

}

QPushButton::hover {
	color: blue;
}
